<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body>
    <div class="flexdiv">
    <form method="GET" action="/" class="inputform">
        <input 
            type="text" 
            name="postcode" 
            value="{{postcode}}"
            placeholder="Enter postcode" 
            class="textbox"
        />
    <button type="submit" class="button">Search</button>
    </form>
    {{#if postcode}}
    <h1>Restaurants for {{postcode}}</h1>
    {{/if}}
<ul>
  {{#each restaurants}}
    <li class="cardContainer">
      <div class="imageContainer"><div><img src="{{logo}}" alt="restaurant logo"></div><h2 class="nameContainer">{{name}}</h2></div>
      <h3>Rating: {{rating.starRating}}/5</h3>
      <h3>Cuisenes: {{cuisines}}</h3>
      <h4>Address: {{address.city}}, {{address.firstLine}}</h4>
      <h4>Post Code: {{address.postalCode}}</h4>
      
    </li>
  {{/each}}
</ul>
</div>
</body>
</html>